:root {
  --c-text: #000;
  --c-background: #fff;
  --c-primary: #2d343a;
  --c-secondary: #468dcb;
  --c-accent: #f26c50;
  --c-accent-dark: #e53611;
  --c-muted: #a9b4bd;
  --main-bg-color: brown;
}

@import url("https://fonts.googleapis.com/css?family=Maven+Pro:500,700");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Maven Pro", sans-serif;
}

article a {
  color: var(--c-accent);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.25s ease;
}
article a:hover {
  color: var(--c-accent-dark);
  border-color: var(--c-accent-dark);
}

.dn {
  display: none;
}

@media (min-width: 30em) {
  .dn-ns {
    display: none;
  }

  .dib-ns {
    display: inline-block;
  }
}

.ma0 {
  margin: 0;
}
.mb0 {
  margin-bottom: 0;
}
.mr2 {
  margin-right: 0.5rem;
}
.v-mid {
  vertical-align: middle;
}
.br-100 {
  border-radius: 100%;
}
.w-icon {
  width: 1.5rem;
}